* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: skyblue;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 40px;
}

section {
  height: 400px;
  padding: 40px;
}

.input_group_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#haruki_section {
  background: #f0efee;
}

#haruki_section h2 {
  margin: 0px 0px 50px 0px;
  text-align: center;
}

#haruki_section .input_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0px;
  position: relative;
  width: 450px;
}

#haruki_section .input_group label {
  color: #6a7989;
  font-size: 20px;
  position: absolute;
  top: 30px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  z-index: 0;
}

#haruki_section .input_group input {
  /**/
  background: transparent;
  border-bottom: 5px solid #6a7989;
  border-left: none;
  border-right: none;
  border-top: 5px solid #6a7989;
  color: #6a7989;
  font-size: 25px;
  font-weight: bold;
  height: 70px;
  position: absolute;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  width: 100%;
  z-index: 1;
}

#haruki_section .input_group input:not(:placeholder-shown) {
  height: 80px;
}

#haruki_section .input_group input:not(:placeholder-shown) ~ label {
  -webkit-transform: translate(0px, -60px);
          transform: translate(0px, -60px);
}

#haruki_section .input_group input:focus {
  height: 80px;
}

#haruki_section .input_group input:focus ~ label {
  /* or + */
  -webkit-transform: translate(0px, -60px);
          transform: translate(0px, -60px);
}

#haruki_section .input_group input:focus-visible {
  outline: none;
}

#hoshi_section {
  background: #f9f7f6;
}

#hoshi_section h2 {
  margin: 0px 0px 50px 0px;
  text-align: center;
}

#hoshi_section .input_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0px;
  position: relative;
  width: 450px;
}

#hoshi_section .input_group label {
  color: #6a7989;
  font-size: 20.25px;
  font-weight: bold;
  position: absolute;
  top: 30px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  width: 100%;
  z-index: 0;
}

#hoshi_section .input_group label::after {
  bottom: -90px;
  content: "";
  height: 6px;
  left: 0;
  position: absolute;
  -webkit-transition: width 0.2s ease all;
  transition: width 0.2s ease all;
  visibility: hidden;
  width: 10px;
}

#hoshi_section .input_group input {
  background: transparent;
  border-bottom: 1px solid #6a7989;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #6a7989;
  font-size: 25px;
  font-weight: bold;
  height: 70px;
  position: absolute;
  width: 100%;
}

#hoshi_section .input_group input:not(:placeholder-shown) {
  /**/
}

#hoshi_section .input_group input:not(:placeholder-shown) ~ label {
  -webkit-transform: translate(0px, -60px);
          transform: translate(0px, -60px);
}

#hoshi_section .input_group input:not(:placeholder-shown) ~ label#name_label::after {
  background-color: #00aaff;
}

#hoshi_section .input_group input:not(:placeholder-shown) ~ label#street_label::after {
  background-color: #00ffaa;
}

#hoshi_section .input_group input:not(:placeholder-shown) ~ label#town_label::after {
  background-color: #ff5500;
}

#hoshi_section .input_group input:not(:placeholder-shown) ~ label::after {
  visibility: visible;
  width: 100%;
}

#hoshi_section .input_group input:focus {
  border-bottom: none;
}

#hoshi_section .input_group input:focus ~ label {
  -webkit-animation: fadeIn 10s;
  animation: fadeIn 10s linear;
  -webkit-transform: translate(0px, -60px);
          transform: translate(0px, -60px);
}

#hoshi_section .input_group input:focus ~ label#name_label::after {
  background-color: #00aaff;
}

#hoshi_section .input_group input:focus ~ label#street_label::after {
  background-color: #00ffaa;
}

#hoshi_section .input_group input:focus ~ label#town_label::after {
  background-color: #ff5500;
}

#hoshi_section .input_group input:focus ~ label::after {
  -webkit-animation: expand_width 1s;
          animation: expand_width 1s;
  visibility: visible;
  width: 100%;
}

#hoshi_section .input_group input:focus-visible {
  outline: none;
}

#kuro_section {
  background: #2f3238;
}

#kuro_section h2 {
  color: #43464c;
  margin: 0px 0px 50px 0px;
  text-align: center;
}

#kuro_section .input_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px;
  position: relative;
  width: 450px;
}

#kuro_section .input_group label {
  color: #df6589;
  font-size: 20.25px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
}

#kuro_section .input_group .spans {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  visibility: hidden;
}

#kuro_section .input_group .spans span {
  width: 45%;
  border-top: 5px solid #747981;
}

#kuro_section .input_group input {
  background: transparent;
  border: 5px solid #747981;
  color: #6a7989;
  font-size: 25px;
  font-weight: bold;
  height: 70px;
  position: absolute;
  text-align: center;
  width: 100%;
}

#kuro_section .input_group input:focus, #kuro_section .input_group input:not(:placeholder-shown) {
  border-bottom: none;
  border-top: none;
}

#kuro_section .input_group input:focus ~ .spans, #kuro_section .input_group input:not(:placeholder-shown) ~ .spans {
  visibility: visible;
}

#kuro_section .input_group input:focus ~ .spans.span-bottom, #kuro_section .input_group input:not(:placeholder-shown) ~ .spans.span-bottom {
  -webkit-transform: translate(0px, 35px);
          transform: translate(0px, 35px);
}

#kuro_section .input_group input:focus ~ .spans.span-top, #kuro_section .input_group input:not(:placeholder-shown) ~ .spans.span-top {
  -webkit-transform: translate(0px, -33px);
          transform: translate(0px, -33px);
}

#kuro_section .input_group input:focus ~ label, #kuro_section .input_group input:not(:placeholder-shown) ~ label {
  -webkit-transform: translate(0px, 70px);
          transform: translate(0px, 70px);
}

#kuro_section .input_group input:focus-visible {
  outline: none;
}

@-webkit-keyframes expand_width {
  from {
    width: 10px;
  }
  to {
    width: 100%;
  }
}

@keyframes expand_width {
  from {
    width: 10px;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    /* -webkit-transform: translateX(-20px); */
    /* transform: translate(0px, 0px); */
  }
  100% {
    /* -webkit-transform: translateX(0); */
    /* transform: translate(80px, 0px); */
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    /* -webkit-transform: translateX(-20px); */
    /* transform: translate(0px, 0px); */
  }
  100% {
    /* -webkit-transform: translateX(0); */
    /* transform: translate(80px, 0px); */
  }
}
/*# sourceMappingURL=styles.css.map */