* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Montserrat", sans-serif;
	background: skyblue;
}

.text_box_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#haruki_section {
	background: #f0efee;
	height: 300px;
	padding: 40px;
	h2 {
		margin: 0px 0px 50px 0px;
		text-align: center;
	}

	.text_box {
		display: flex;
		flex-direction: column;
		padding: 10px 0px;
		position: relative;
		width: 450px;
		label {
			color: #6a7989;
			font-size: 26px;
			position: absolute;
			top: 30px;
			transition: all 200ms ease-out;
			z-index: 0;
		}

		input {
			background: transparent;
			border-bottom: 10px solid #6a7989;
			border-left: none;
			border-right: none;
			border-top: 10px solid #6a7989;
			color: #6a7989;
			font-size: 54px;
			font-weight: bold;
			height: 70px;
			position: absolute;
			width: 100%;
			z-index: 1;
			transition: all 200ms ease-out;
			&:not(:placeholder-shown) {
				height: 80px;
				& ~ label {
					transform: translate(0px, -60px);
				}
			}

			&:focus {
				height: 80px;
				padding-top: 20px;
				& ~ label {
					// or +
					transform: translate(0px, -60px);
				}
			}
			&:focus-visible {
				outline: none;
			}
		}
	}
}

#hoshi_section {
	background: #f9f7f6;
	height: 300px;
	padding: 40px;
	h2 {
		margin: 0px 0px 50px 0px;
		text-align: center;
	}

	.text_box {
		display: flex;
		flex-direction: column;
		padding: 10px 0px;
		position: relative;
		width: 450px;
		label {
			color: #6a7989;
			font-size: 20.25px;
			font-weight: bold;
			position: absolute;
			top: 30px;
			transition: all 200ms ease-out;
			width: 100%;
			z-index: 0;

			&::after {
				content: "";
				position: absolute;
				bottom: -90px;
				left: 0;
				height: 6px;
				width: 10px;
				visibility: hidden;
				background-color: red;
				transition: width 0.2s ease all;
			}
		}

		input {
			background: transparent;
			border-bottom: 1px solid #6a7989;
			border-left: none;
			border-right: none;
			border-top: none;
			color: #6a7989;
			font-size: 25px;
			font-weight: bold;
			height: 70px;
			position: absolute;
			width: 100%;

			&:not(:placeholder-shown) {
				& ~ label {
					transform: translate(0px, -60px);
					&::after {
						width: 100%;
						background-color: blue;
						visibility: visible;
					}
				}
			}

			&:focus {
				& ~ label {
					// or +
					-moz-animation: fadeIn 10s;
					-ms-animation: fadeIn 10s;
					-o-animation: fadeIn 10s;
					-webkit-animation: fadeIn 10s;
					animation: fadeIn 10s;
					transform: translate(0px, -60px);
					&::after {
						background-color: blue;
						animation-name: example;
						animation-duration: 4s;
						width: 100%;
						visibility: visible;
					}
				}
			}

			&:focus-visible {
				outline: none;
			}
		}
	}
}

//https://blog.hubspot.com/website/css-fade-in

@keyframes example {
	from {
		width: 10px;
	}
	to {
		width: 100%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}

	50% {
		// -webkit-transform: translateX(-20px);
		// transform: translate(0px, 0px);
	}
	100% {
		// -webkit-transform: translateX(0);
		// transform: translate(80px, 0px);
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
