* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	background: skyblue;
	font-family: "Montserrat", sans-serif;
}

h2 {
	font-size: 40px;
}

section {
	height: 400px;
	padding: 40px;
}

.input_group_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#haruki_section {
	background: #f0efee;

	h2 {
		margin: 0px 0px 50px 0px;
		text-align: center;
	}

	.input_group {
		display: flex;
		flex-direction: column;
		padding: 10px 0px;
		position: relative;
		width: 450px;

		label {
			color: #6a7989;
			font-size: 20px;
			position: absolute;
			top: 30px;
			transition: all 200ms ease-out;
			z-index: 0;
		}

		input {
			/**/
			background: transparent;
			border-bottom: 5px solid #6a7989;
			border-left: none;
			border-right: none;
			border-top: 5px solid #6a7989;
			color: #6a7989;
			font-size: 25px;
			font-weight: bold;
			height: 70px;
			position: absolute;
			transition: all 200ms ease-out;
			width: 100%;
			z-index: 1;

			&:not(:placeholder-shown) {
				height: 80px;

				& ~ label {
					transform: translate(0px, -60px);
				}
			}

			&:focus {
				height: 80px;

				& ~ label {
					/* or + */
					transform: translate(0px, -60px);
				}
			}

			&:focus-visible {
				outline: none;
			}
		}
	}
}

#hoshi_section {
	background: #f9f7f6;

	h2 {
		margin: 0px 0px 50px 0px;
		text-align: center;
	}

	.input_group {
		display: flex;
		flex-direction: column;
		padding: 10px 0px;
		position: relative;
		width: 450px;

		label {
			color: #6a7989;
			font-size: 20.25px;
			font-weight: bold;
			position: absolute;
			top: 30px;
			transition: all 200ms ease-out;
			width: 100%;
			z-index: 0;

			&::after {
				bottom: -90px;
				content: "";
				height: 6px;
				left: 0;
				position: absolute;
				transition: width 0.2s ease all;
				visibility: hidden;
				width: 10px;
			}
		}

		input {
			background: transparent;
			border-bottom: 1px solid #6a7989;
			border-left: none;
			border-right: none;
			border-top: none;
			color: #6a7989;
			font-size: 25px;
			font-weight: bold;
			height: 70px;
			position: absolute;
			width: 100%;

			&:not(:placeholder-shown) {
				/**/
				& ~ label {
					transform: translate(0px, -60px);

					&#name_label::after {
						background-color: #00aaff;
					}

					&#street_label::after {
						background-color: #00ffaa;
					}

					&#town_label::after {
						background-color: #ff5500;
					}

					&::after {
						visibility: visible;
						width: 100%;
					}
				}
			}

			&:focus {
				border-bottom: none;

				& ~ label {
					// or +
					-moz-animation: fadeIn 10s;
					-ms-animation: fadeIn 10s;
					-o-animation: fadeIn 10s;
					-webkit-animation: fadeIn 10s;
					animation: fadeIn 10s linear;
					transform: translate(0px, -60px);
					// visibility: hidden;

					&#name_label::after {
						background-color: #00aaff;
					}

					&#street_label::after {
						background-color: #00ffaa;
					}

					&#town_label::after {
						background-color: #ff5500;
					}

					&::after {
						animation: expand_width 1s;
						visibility: visible;
						width: 100%;
					}
				}
			}

			&:focus-visible {
				outline: none;
			}
		}
	}
}

#kuro_section {
	background: #2f3238;

	h2 {
		color: #43464c;
		margin: 0px 0px 50px 0px;
		text-align: center;
	}

	.input_group {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px 0px;
		position: relative;
		width: 450px;

		label {
			color: #df6589;
			font-size: 20.25px;
			font-weight: bold;
			position: absolute;
			text-align: center;
			width: 100%;
		}

		.spans {
			align-items: center;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			transition: all 200ms ease-out;
			visibility: hidden;
			span {
				width: 45%;
				// height: 10px;
				border-top: 5px solid #747981;
			}
		}

		input {
			background: transparent;
			border: 5px solid #747981;
			color: #6a7989;
			font-size: 25px;
			font-weight: bold;
			height: 70px;
			position: absolute;
			text-align: center;
			width: 100%;

			&:focus,
			&:not(:placeholder-shown) {
				border-bottom: none;
				border-top: none;

				& ~ .spans {
					visibility: visible;
				}

				& ~ .spans.span-bottom {
					transform: translate(0px, 35px);
				}

				& ~ .spans.span-top {
					transform: translate(0px, -33px);
				}

				& ~ label {
					// or +
					transform: translate(0px, 70px);
				}
			}

			&:focus-visible {
				outline: none;
			}
		}
	}
}

//https://blog.hubspot.com/website/css-fade-in

@keyframes expand_width {
	from {
		width: 10px;
	}
	to {
		width: 100%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}

	50% {
		/* -webkit-transform: translateX(-20px); */
		/* transform: translate(0px, 0px); */
	}
	100% {
		/* -webkit-transform: translateX(0); */
		/* transform: translate(80px, 0px); */
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}

	50% {
		/* -webkit-transform: translateX(-20px); */
		/* transform: translate(0px, 0px); */
	}
	100% {
		/* -webkit-transform: translateX(0); */
		/* transform: translate(80px, 0px); */
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}

	50% {
		/* -webkit-transform: translateX(-20px); */
		/* transform: translate(0px, 0px); */
	}
	100% {
		/* -webkit-transform: translateX(0); */
		/* transform: translate(80px, 0px); */
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}

	50% {
		/* -webkit-transform: translateX(-20px); */
		/* transform: translate(0px, 0px); */
	}
	100% {
		/* -webkit-transform: translateX(0); */
		/* transform: translate(80px, 0px); */
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}

	50% {
		/* -webkit-transform: translateX(-20px); */
		/* transform: translate(0px, 0px); */
	}
	100% {
		/* -webkit-transform: translateX(0); */
		/* transform: translate(80px, 0px); */
	}
}
