* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Montserrat", sans-serif;
	background: skyblue;
}

.text_box_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#haruki_section {
	background: #f0efee;
	height: 300px;
	padding: 40px;
	h2 {
		margin: 0px 0px 50px 0px;
		text-align: center;
	}

	.text_box {
		display: flex;
		flex-direction: column;
		padding: 10px 0px;
		position: relative;

		width: 450px;

		label {
			color: #6a7989;
			font-size: 26px;
			transition: all 1.23s;
			z-index: 0;
			position: absolute;
			top: 30px;
		}

		input {
			background: transparent;
			border-bottom: 10px solid #6a7989;
			border-left: none;
			border-right: none;
			border-top: 10px solid #6a7989;
			color: #6a7989;
			font-size: 54px;
			font-weight: bold;
			height: 70px;
			position: absolute;
			width: 100%;
			z-index: 1;
			transition: height 0.15s ease-out;
			&:not(:placeholder-shown) {
				height: 80px;
				& ~ label {
					transform: translate(0px, -60px);
				}
			}

			&:focus {
				height: 80px;
				padding-top: 20px;
				& ~ label {
					// or +
					transform: translate(0px, -60px);
				}
			}
			&:focus-visible {
				outline: none;
			}
		}
	}
}
